@{
    Layout = null;
}
@model muse.Controllers.SearchController.SearchSender
<!doctype html>
<html class="no-js" lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Muse</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="/assets/images/fev.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- owl theme default -->
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="/assets/css/pe-icon-7-stroke.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- swiper -->
    <link rel="stylesheet" href="/assets/css/swiper.css">
    <!-- audioplayer -->
    <link rel="stylesheet" href="/assets/css/audioplayer.css">
    <!-- menu -->
    <link rel="stylesheet" href="/assets/css/menu.css">
    <!-- main -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- default -->
    <link rel="stylesheet" href="/assets/css/default.css">
    <!-- color -->
    <link rel="stylesheet" href="/assets/css/color.css">

</head>

<body>

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header class="header-nav-area js-index1-nav sticky-on">
        <!-- header-nav -->
        <div class="container-fluid">
            <div class="row flexbox-center">
                <div class="col-md-2 col-sm-2">

                    <div class="logo">
                        <a href="/Home/index"><img src="/assets/images/logo.png" alt="Devaid logo"></a>
                    </div>
                </div><!-- col-lg-4 -->

                <div class="col-md-7 header-nav-none">
                    <nav class="header-nav">
                        <div class="cssmenu" data-title="Menu">
                            <ul class="menu list-inline">

                                <li class="active">
                                    <a href="/Home/index">发现</a>
                                </li>
                                <li>
                                    <a href="/Home/Myinfo">我的信息</a>
                                </li>
                                <li>
                                    <a href="/Home/Songlist">我的歌单</a>
                                </li>
                                <li>
                                    <a href="/Home/Playhistory">我的历史</a>
                                </li>
                                <li>
                                    <a href="/Home/News">消息中心</a>
                                </li>
                                <li>
                                    <a href="/Home/Createproduct">我的创作</a>
                                </li>
                                <li>
                                    <a href="/Search/Searchresult">搜索</a>
                                </li>
                            </ul>
                        </div><!-- #header-menu-wrap -->
                    </nav><!-- .header-nav -->
                </div><!-- col-lg-7 -->
               
                <div class="col-md-3 pl-0 pull-right">
                    <div class="header-icon text-right">
                        <ul class="list-inline">
                            <li class="music primary-bg" id="js-music"> <i class="fa fa-music"></i></li>
                            <li class=""><a href="/Login/Index"><i class="fa fa-sign-in"></i></a></li>
                            <li class="sidebar-menu"><span id="sidebar_menu_icon"><img alt="Icon" src="/assets/images/menu.png"></span></li>
                        </ul>
                    </div><!-- header-icon -->
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </header><!-- header-nav -->

    <div class="js-offcanvas-menu js-index1-nav" id="js_offcanvas_menu">
        <nav class="header-nav">
            <span class="js-offcanvas-close"><i class="pe-7s-close"></i></span>
            <div class="cssmenu" data-title="Menu">
                <ul class="menu list-inline">
                    <li class="active">
                        <a href="/Home/index">发现</a>
                    </li>
                    <li>
                        <a href="/Home/Myinfo">我的信息</a>
                    </li>
                    <li>
                        <a href="/Home/Songlist">我的歌单</a>
                    </li>
                    <li>
                        <a href="/Home/Playhistory">我的历史</a>
                    </li>
                    <li>
                        <a href="/Home/News">消息中心</a>
                    </li>
                    <li>
                        <a href="/Home/Createproduct">我的创作</a>
                    </li>
                    <li>
                        <a href="/Search/Searchresult">搜索</a>
                    </li>
                </ul>
            </div><!-- #header-menu-wrap -->
        </nav> <!-- header-nav -->
    </div><!-- js-offcanvas-menu -->

    <section class="js-breadcrumb-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12 text-center has-color">
                    <div class="js-breadcrumb-content">
                        <h2>搜 <span class="primary-color">索 </span>结 果</h2>
                    </div>
                </div>
            </div>
    </section><!-- js-breadcrumb-area -->

    <div class="js-blog-defalt-area js-blog-with-sidebar">
        <div class="container">
            <div class="row">
                <!-- Col-md-8 -->
                <div class="col-lg-4">
                    <aside class="sidebar-widget width=3000">
                        <!-- widget End-->
                        <div class="widget bg-white" style="width:1200px">
                            <div class="js-widget-search">



                                <form action="" method="post" enctype="multipart/form-data" class="js-footer-subscribe-form1">
                                    <input name="songname" type="text" placeholder="输入搜索内容" required="">
                                    <i><img src="/assets/images/search.png" alt="search icon"></i>
                                    <input type="submit" class="btn btn-primary" value="搜索" />
                                </form>


                            </div>
                        </div><!-- widget End-->
                        <!-- widget End-->

                        <div class="widget bg-white" style="width:1200px">
                            <div class="shape primary-bg"></div>
                            <h3>共搜索到<p>@ViewBag.number条记录.</p></h3>

                            <div class="js-recent-comments2">
                                <ul>
                                    @foreach (var result in ViewBag.name)
                                    {
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-10 ">
                                                    <a href="#"><span class="primary-color">@result</span></a>
                                                </div>
                                                <div class="col-lg-2">
                                                    <a href="#" class="btn btn-secondary" style="width: 50% ;padding: 2px;">购买</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div><!-- widget End-->
                    </aside><!-- sidebar-widget -->
                </div><!-- col-lg-4 End-->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- js-singer-area End -->

    <span class="scrolltop"><i class="pe-7s-angle-up"></i></span>

    <footer class="js-footer-area has-color">
        <div class="js-footer-subscribe pt-100 pb-30 bg-dark has-color">

        </div><!-- js-footer-subscribe -->
    </footer> <!-- footer End-->


    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/countdown.js"></script>
    <script src="/assets/js/jquery.jplayer.min.js"></script>
    <script src="/assets/js/jplayer.playlist.min.js"></script>
    <script src="/assets/js/audio-player.js"></script>
    <script src="/assets/js/audioplayer.js"></script>
    <script src="/assets/js/main.js"></script>



</body>

</html>

